<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="res_config_settings_view_form" model="ir.ui.view">
        <field name="name">res.config.settings.view.form.inherit.base.setup</field>
        <field name="model">res.config.settings</field>
        <field name="priority" eval="0"/>
        <field name="inherit_id" ref="base.res_config_settings_view_form"/>
        <field name="arch" type="xml">
            <xpath expr="//div[hasclass('settings')]" position="inside">
                <div class="app_settings_block" data-string="Channel Settings" string="Channel Settings"
                     data-key="channel_settings">

                    <div id="contacts_settings">
                        <h2>Contacts Settings</h2>
                        <div class="row mt16 o_settings_container">
                            <div class="col-12 col-lg-12 o_setting_box">
                                <div class="o_setting_right_pane">
                                    <span class='o_form_label'>
                                        Create New Accounts For Customers
                                    </span>
                                    <field name='is_account_prefix'/>
                                    <br/>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 o_setting_box">
                                <div class="o_setting_right_pane">
                                    <span class='o_form_label'>
                                        Account Receivable Prefix
                                    </span>
                                    <field name='account_receive_id'/>
                                    <br/>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 o_setting_box">
                                <div class="o_setting_right_pane">
                                    <span class='o_form_label'>
                                        Account Payable Prefix
                                    </span>
                                    <field name='account_payable_id'/>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 o_setting_box">
                                <div class="o_setting_right_pane">
                                    <span class='o_form_label'>
                                        Short Description
                                    </span>
                                    <field name='short_description'/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="warehous_setting">
                        <h2>Warehouse Management</h2>
                        <div class="row mt16 o_settings_container">
                            <div class="col-12 col-lg-6 o_setting_box">
                                <div class="o_setting_right_pane">
                                    <span class='o_form_label'>
                                        Samples W.H
                                    </span>
                                    <field name='sample_warehouse_id'/>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 o_setting_box">
                                <div class="o_setting_right_pane">
                                    <span class='o_form_label'>
                                        Out Source W.H
                                    </span>
                                    <field name='outsource_warehouse_id'/>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 o_setting_box">
                                <div class="o_setting_right_pane">
                                    <span class='o_form_label'>
                                        Examination W.H
                                    </span>
                                    <field name='examination_warehouse_id'/>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12 o_setting_box">
                                <div class="o_setting_right_pane">
                                    <span class='o_form_label'>
                                        WH Token KEY
                                    </span>
                                    <field name='warehouse_token' readonly="1"/>
                                    <button name="generate_warehouse_token" class="oe_highlight" type="object"
                                            string="Generate Token"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="magento_integration">
                        <h2>Magento Integration</h2>
                        <div class="row mt16 o_settings_container">
                            <div class="col-12 col-lg-12 o_setting_box">
                                <div class="o_setting_right_pane">
                                    <span class='o_form_label'>
                                        Magento Token KEY
                                    </span>
                                    <field name='magento_token' readonly="1"/>
                                    <button name="generate_magento_token" class="oe_highlight" type="object"
                                            string="Generate Token"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="callcenter_integration">
                        <h2>Call Center Integration</h2>
                        <div class="row mt16 o_settings_container">
                            <div class="col-12 col-lg-12 o_setting_box">
                                <div class="o_setting_right_pane">
                                    <span class='o_form_label'>
                                        Token KEY
                                    </span>
                                    <field name='call_center_token' readonly="1"/>
                                    <button name="generate_call_center_token" class="oe_highlight" type="object"
                                            string="Generate Token"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </xpath>
        </field>
    </record>
    <record id="action_channel_config" model="ir.actions.act_window">
        <field name="name">Channel</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">res.config.settings</field>
        <field name="view_mode">form</field>
        <field name="target">inline</field>
        <field name="context">{'module' : 'channel_settings'}</field>
    </record>


    <!--    <menuitem-->
    <!--            id="sale_channel_config"-->
    <!--            name="Channel Settings"-->
    <!--            parent="base.menu_administration"-->
    <!--            sequence="90"-->
    <!--            action="action_channel_config"-->
    <!--            web_icon="miraity_customization,static/description/icon.png"-->
    <!--            groups="base.group_system"/>-->

</odoo>
